/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body */
body {
	font-family: sans-serif;
	background-color: #f5f5f5;
	color: #333;
}

/* Header */
header {
	background-color: #222; 
	color: #fff;
	padding: 22%;
	
	text-align: center;
	padding-bottom: 55vh;
}

img.logobde {
	margin-left: 40%;
	margin-top: 5%;
	margin-bottom: 5%;
	position: absolute;
	width: 20%;
}

header h1 {
	font-size: 6vw;
	margin: 0;
	font-family: serif;

}
header h1.bde{
	font-size: 4vw;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 1em;
	z-index: 2;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	z-index: -1;
}

nav a:hover {
	text-decoration: underline;
}

nav button{
	border: 0px;
	font-size: 2em;
	font-weight: 700;
	font-family: Calibri;
	color: #222;
	background: transparent;
	cursor: pointer;
	position: relative;
	margin: 50px;
	text-align: center;
	overflow: hidden;
	padding: 20px;
	border-radius: 15px;
	z-index: 2;
	box-shadow: 0px -0px 0px 0px rgba(108,0,39,.5), 0px 0px 0px 0px rgba(253,232,141,.5);
}

nav button::after{
	content: '';
  	width: 450px;
	height: 450px;
  	position: absolute;
	background-image: linear-gradient(225deg, #700d2a 0%, #eecc67 50%, #5c7c35 100%);
	top: -50px;
	left: -100px;
	transition: all .5s;
	z-index: -1;
	
}

nav button:hover::after {
	transform: rotate(150deg);
  }

nav button:hover {
	transform: translate(0,-6px);
	box-shadow: 10px -10px 25px 0px rgba(253,232,141,.5), -10px 10px 25px 0px rgba(253,232,141,.5);
  }

/* Main */
main {
	background-color: aqua;
}

section h2 {
	font-size: 3em;
	margin-bottom: 1em;
}

section p {
	margin-bottom: 1em;
	font-size: 2em;
	color:#222;
}

section p.role{
	background-color: #fde88d;
	padding:2px;
	border-radius: 5px;
	
}

section.presentation {
	padding-top: 12%;
	padding-bottom: 12%;
	padding-left: 3%;
	padding-right: 3%;
	background-color: #fde88d;
}

section.presentation .membres {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

section.presentation .membres li {
	width: 410px;
	color : #fff;
	margin-bottom: 8em;
	margin-top:4em;
	margin : 1em;
	padding: 20px;
	text-align: center;
	background-color: #333;
	border-radius: 20px;
}

section.presentation .membres li.president{
	padding: 1.5%;
}

section.presentation .membres img {
	width: 100%;
	height: auto;
	margin-bottom: 0.5em;
	border-radius: 20%;
}

section.presentation .membres h3 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

section.presentation .membres p {
	font-size: 0.9em;
}

section.presentation ul.membres li ul.medias {
	display: flex;
	list-style: none;
}

section.presentation ul.membres li ul.medias li {
	width: 100px;
	margin-bottom: -20px;
	margin-top: -10px;
}

section.partenariats {
	padding-top : 13%;
	padding-bottom: 13%;
	padding-left: 3%;
	padding-right: 3%;
	background-color: #333;
}
section.partenariats ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

section.partenariats h2 {
	color :#700d2a;
}

section.partenariats p {
	color :#fde88d;
}

section.partenariats li {
	margin-bottom: 2em;
	padding: 0 1em;
	text-align: center;
	display: flex;
}

section.partenariats img {
	background-color: #fde88d;
	width: 400px;
	height: auto;
	border-radius: 10px;

}




  @media only screen and (max-width: 960px) {
	header{
		padding-top:50%;
		padding-bottom: 25vh;
		margin-top:-10%;

	}
	nav button{
		width: 0;
		padding: 0;
	}
	img.logobde{
		width: 100%;
		margin-left : auto;
		margin-bottom: 40px;
	}

	header h1{
		font-size: 12vw;
		text-align: center;
		margin-top: 20vh;
		margin-left: -10%;
		
	}
	header h1.bde{
		margin-top : 15px;
		text-align: center;
		font-size: 6vw;
	}
	
  }

  /* Footer */
footer {
	background-color: #222;
	color: #fff;
	padding: 1em;
	text-align: center;
}